{
  "application": "JLABSRES",
  "branches": [
    "main",
    "master"
  ],
  "bugTracker": "JIRA",
  "jira": {
    "project": "JLABSRES",
    "issue_type": "Bug",
    "opene_status": [
      "To Do",
      "In Progress",
      "In Review"
    ],
    "close_status": [
      "Done"
    ],
    "open_transition": "In Progress",
    "close_transition": "Done",
    "priorities": {
      "High": "High",
      "Medium": "Medium",
      "Low": "Low"
    },
    "fields": [
      {
        "type": "result",
        "name": "application",
        "jira_field_name": "Application",
        "jira_field_type": "label"
      },
      {
        "type": "result",
        "name": "category",
        "jira_field_name": "Category",
        "jira_field_type": "label"
      }
    ]
  }
}
